.main__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;
    > h1 {
        color: #525252;
    }
}