.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4vw;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: .25s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    > img {
        max-width: 125px;
        max-height: 45px;
        align-self: center;
        box-shadow: rgba(65, 90, 119, .25) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        cursor: pointer;
        transition: .25s ease-in-out;

        &:hover {
            filter: drop-shadow(0 0 0.25rem #415A77);
        }
    }
}

.nav__list_container {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    color: #525252;
    font-family: 'Varela Round', sans-serif;
    
    > li {
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 600;
        transition: .25s ease-in-out;
        &:hover {
            color: #415A77;
        }
    }

    .nav_cart {
        cursor: pointer; 
        transition: .25s ease-in-out;

        &:hover {
            color: #415A77;
        }
    }
}